/* CSS for default phone screen size */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* DEFINE VARIABLES */
:root {
    /* colors from palette */
    --background-color: #051325;
    /* reused values */
    --max-body-width: 90rem;
}
/* Google fonts list
font-family: 'Electrolize', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Quicksand', sans-serif;
*/


/* - - - - - - - - - - - - - - - - */
/*----------- BODY --------------*/
/* - - - - - - - - - - - - - - - - */

body {
    background-color: black;
    color: white;
    font-family: 'Quicksand', Verdana, sans-serif;
    font-size: 20px;
    max-width: var(--max-body-width);
}

h1, h2, h3, h4
{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 1rem;
}

#body-background-color 
{
    background-color: var(--background-color);
}

/* - - - - - - - - - - - - - - - - */
/*----------- HEADER --------------*/
/* - - - - - - - - - - - - - - - - */

header 
{
 background-color: var(--background-color);
 display: flex;
 max-width: var(--max-body-width);
 padding-bottom: 1em;
 position: absolute;
 top:0;
 width: 100%;
 z-index: 10;
 justify-content: center;
}

header img 
{
    object-fit:scale-down;
}

header h1 
{
    font-size: 1.2em;
}

/* - - - - - - - - - - - - - - - - */
/*----------- NAVIGATION --------------*/
/* - - - - - - - - - - - - - - - - */


nav {
    display: flex;
    justify-content: right;
    max-width: var(--max-body-width);
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    max-width: 175px;
    padding:0;
}

nav ul li a 
{
    color: rgb(255, 255, 255);
    display: block;
    padding: .5rem 1.5em;
    text-align: right;
    text-decoration: none;
    transition: 0.5s;
}

nav ul 
{
    background-position: 48px 40px;
    background-repeat: no-repeat;
    background-size: 100% 160px;
    background: linear-gradient(0deg, rgba(38, 204, 255, 0), rgb(59, 89, 99));
}

/* hamburger menu style*/
.ham 
{
    background: linear-gradient(90deg, rgba(38, 204, 255, 0) 10%, rgb(23, 39, 44));
    font-size: 1.4em;
    padding-right: 1em;
}
nav ul li a:hover 
{
    background: linear-gradient(90deg, rgba(38, 204, 255, 0) , rgba(38, 204, 255, 1));
    color: black;
    font-weight: bold;
}
nav ul li.active a 
{
    background: linear-gradient(90deg, rgba(38, 204, 255, 0) 15%, rgb(63, 193, 236));
    color: rgb(154, 215, 255);
    font-weight: bold;
    cursor:default;
}
/* responsive hamburger menu */
.navigation li:first-child 
{
	display: block;
}
.navigation li 
{
    display: none;
}
.responsive li 
{
	display: block;
}
/* animate horizontal rules to slide over when menu is opened */
.responsive hr:nth-child(1) 
{
    animation: slide-down 0.3s ease-out;
    margin: 0;
}
@keyframes slide-down 
{
0% { transform: translateX(100%);}
100% {transform: translateX(0%);}
}
/* end hamburger */

/* - - - - - - - - - - - - - - - - */
/*----------- MAIN --------------*/
/* - - - - - - - - - - - - - - - - */

/* applies to whole page */
main
{
    padding: 0;
}

figure p 
{
    margin-top: 5em;
}

a 
{
    color:rgb(255, 151, 220);
    
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: hsl(266, 19%, 48%);
    text-shadow: 1px 1px 3px black;
}

a:hover
{
    color:rgb(253, 245, 255);
    text-shadow: 1px 1px 3px black;
}   

/* reused classes*/
.text-center
{
    text-align:center;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}

.text-shadow 
{
    text-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.huge-title
{
    font-size: 5.5em;
}

.content {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content img {
    width: 100%;
}
.content h2{
    font-size: 1.5em;
}
.content  figure{
    margin: 8%;
}

.info-text
{
    margin-top: 1em;
    font-size: medium;
    color:rgb(158, 249, 255)
}

.p-lessmargin 
{
    margin-top: 0.1em;
}

.spaced-horiz
{
    margin: 0 calc(0.1em + 3vw) 0 calc(0.1em + 3vw);
    font-size: 12px;
    vertical-align:10%;
    opacity: 0.5;
}

.vert-align-middle
{
    display: inline-block;
    vertical-align: middle;
}


/*----------- SPECIFIC PARTS OF MAIN --------------*/

/* portfolio title */

#portfolio-title-container 
{
    margin: 4em 0  3em 0;
    padding: 5em 0 5em 0;
    position: relative;
    z-index: 1;
}

#portfolio-title-container h1
{
margin-bottom: 0.3em;
transform: translateY(calc(var(--scroll-y, 0) * -0.3px));
animation: appear 0.5s ease-out;
}

#portfolio-title-container canvas
{
    animation: appear 1s ease-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#port-gradient-back {
    background: linear-gradient(var(--background-color) 30%, rgb(9, 26, 46) 50%, var(--background-color) 70%, #00000000);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* skill sentence */

#skill-sentence 
{
    color: rgb(255, 226, 97);
    text-align: center;
    width: 100%;
    margin-top: calc(-3em + 10vw);
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    font-size: calc(0.7em + 0.5vw);
}

#skill-webdev{
    animation: delay-appear 3s ease-out;
}

#skill-artist{
    animation: delay-appear 6s ease-out;
}

#skill-x1{
    animation: delay-appear-half 5s ease-out;
}

#skill-problemsolver{
    animation: delay-appear 9s ease-out;
}

#skill-x2{
    animation: delay-appear-half 8s ease-out;
}

@keyframes delay-appear-half {
    0% { opacity: 0;}
    50% { opacity: 0;}
    100% {opacity:0.5;}
}

@keyframes delay-appear {
    0% { opacity: 0;}
    50% { opacity: 0;}
    100% {opacity:1;}
}

@keyframes appear {
    0% { opacity: 0;}
    100% {opacity:1;}
}

/* modal pop-up image container*/

#myModal /* background */
{
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.5);
}

#myModalContainer /* container box */
{
    width: 90%;
    height: 70%;
    text-align: center;
    border: 1px solid rgb(16, 36, 102);
    background-color: #2c5a96;
    border-radius: 1em;
    box-shadow: 3px 3px 13px rgb(4, 18, 44);
    margin: 0 auto;
    padding: 0 0 4em 0;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    overflow: auto;
}


#myModalContainer::-webkit-scrollbar {
    width: 14px;
}

#myModalContainer::-webkit-scrollbar-track {
    margin: 2em 0;
    background-color: #152b49;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    border-radius: 6px;
}

#myModalContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #3f7fd8;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.9); 
}


#modal-img  /* image */
{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 0.5em;
}

#modal-caption /* caption */
{
    display: block;
    width: 100%;
    text-align: center;
    color: #ccc;
    padding: 10px 10px;
    font-size: 0.9em;
}
  
#modal-img, #modal-caption, #myModalContainer /* Add Animation */
{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}
  
@-webkit-keyframes zoom 
{
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom 
{
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close /* close button */
{
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    text-align: right;
    margin: 0.4em 0.7em 0.4em 0;
}
  
.close:hover,
.close:focus 
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*----------- RIGHT GRID --------------*/
/* Current right grids: 
    - CODING
    - 
*/

.right-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 2%;
    grid-gap: 1em;
    margin-top: 6em;
}

.right-grid img
{
    border: 1px solid rgba(121, 121, 121, 0.19);
    box-shadow: 2px 5px 5px rgb(0 0 0 / 0.8);
    transition: 0.2s;

    margin: 0.25em 0 0.25em 0;
}
.right-grid figcaption{
    color: rgb(133, 206, 240);
    margin-left: 1em;
}
.right-grid img:hover
{
    border-left: 1px solid rgba(125, 202, 170, 0.829);
    border-right: 1px solid rgba(173, 147, 136, 0.59);
    border-bottom: 1px solid rgba(255, 255, 255, 0.59);
    box-shadow: 6px 10px 15px rgb(0 0 0 / 0.8);
    margin: 0 0 0.5em 0;
    cursor: pointer;
}

input{
    cursor: pointer;
}
/* background and topmost effects */
#code-title-clip {
    background: url(/images/codingtextback.jpg) repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    animation: scrollbackground 3s linear;
    animation-iteration-count: infinite;
}
/* shiny flash across CODING animation */
@keyframes scrollbackground 
{
    0%, 15% { background-position-x: 0;}
    80%, 100% {background-position-x: 200px;}
}

#code-title-clip h2 {
    color:rgb(146, 202, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    margin-top: 1em;
}
/*diagonal gradient background*/
#sect-coding-background {
    background-image: linear-gradient(155deg, rgba(255, 255, 255, 0) 18.8%, #204d77 calc(18.8% + 2px),rgb(59, 107, 179) 25%, var(--background-color) 55%);
    width: var(--max-body-width);
    height: 2900px;
    position:absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#section-coding {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}
/* diagonal code text behind background */
#sect-coding-backtext{
    position:fixed;
    top: -3em;

    overflow: hidden;
}
#sect-coding-backtext div{
    color:rgb(14, 35, 65);
    font-size: calc(0.5vw + 0.9em);
    font-weight:bold;
    line-height: 1.4em;
    transform: rotate(-25deg);
}


/* smaller title styles */
.title-space-below
{
    margin-bottom: 6em;
}

.py-last-semster h3
{
    width: 100%;
    background: linear-gradient(to right,var(--background-color), rgb(14, 38, 70) 15%, var(--background-color));
    margin: 1em 0 1em 0;
}

.py-proj-grid p
{
    font-size: 0.9em;
    margin-left: 1em;
    color:rgb(189, 189, 189);
}

.py-proj-grid h4
{
    margin: 0;
    color:rgb(84, 167, 235);
    font-weight: normal;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;

}
.py-proj-grid figure
{
    margin: 0.4em 0.8em;
}

.py-proj-grid div
{
margin: 1em 0.3em;
}



.language-title h3, #other-langs-title
{
    color:rgb(187, 168, 59);
    font-size: 1.5em;
    text-shadow: 1px 3px 2px rgb(0, 0, 0);
}

/* style all lang (computer languages I've learned) grids */
.lang-grid 
{
    padding: 1em;
    border-radius: 0.5em;
}

.lang-grid img
{
    cursor: pointer;
}

/* all lang grids button style */
.lang-grid button
{
    background-color: #0f345e;
    border: 1px solid rgb(255, 255, 255);
    color:rgb(86, 159, 255);
    border-radius: 8px;
    padding: 0.2em 1em 0.2em 1em;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0.2em;
}

#nodejs
{
    color: rgb(110, 206, 110);
    font-weight: bold;
    text-decoration: none;
}

.language-title .info-text-smaller
{
    font-size: 0.85em;
    color: rgb(181, 214, 195);

}

.info-text-smaller li{
margin: 0.8em 0.1em;
color: rgb(146, 160, 167);
}


#javascript-example-link ul
{
    list-style-type: none;
}

#stopbutton
{
    background-color: #0f141a;
    border: 1px solid rgb(56, 31, 31);
    color:rgb(139, 52, 52);
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    margin-left: -2.2em;
    display: none;
}

#randomizebutton{
    font-size: 0.8em;
    border: 1px solid rgb(95, 103, 121);
}

.lang-grid button:hover
{
    background-color: #25548a;
    border: 1px solid rgb(173, 229, 255);
    color:rgb(255, 255, 255);
}

.lang-grid button:active
{
    background-color: #4bbef3;
}

/* top (HTML/CSS/first) grid */
.language-grid-top
{
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(162, 211, 252, 0.23) 5%, #9198e500);
}

.language-grid-top img
{
    max-width: 500px;
}

/* right (Javascript/second) grid */
.language-grid-right
{
    background: linear-gradient(rgba(127, 176, 250, 0.436), rgba(76, 141, 238, 0.336) 5%, #9198e500);
}

/* left (Python/third) grid */
.language-grid-left
{
    background: linear-gradient(rgba(127, 176, 250, 0.436), rgba(76, 173, 238, 0.336) 5%, #9198e500);
}


.lang-examples-box
{
    margin: 2em;
}
.lang-examples-box li{
    margin: 0.3em 0.1em;
}


/* extra grid for python projects */
.py-proj-grid
{
    display: grid;
    grid-template-columns: 1fr;
}


.py-proj-grid figcaption
{
color:rgb(63, 193, 236);
font-size: 0.9em;
margin-left: 1em;
}




/* extra grid for other languages (GML/Lite-C) */
.other-langs-grid{
    display: grid;
    grid-template-columns: 1fr;
}
.other-langs-grid div:nth-child(1){ /*Lite-C*/
color: rgb(166, 235, 203);
  }
  .other-langs-grid div:nth-child(4){ /*GML*/
    color: rgb(153, 209, 255);
  }



/* interactive Javascript example */
#interactive-jsexample 
{
    text-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 1em;
    color:rgb(255, 224, 51);
    font-weight: bold;
    margin: 1em;
    border: 1px solid white;
    background-color: #17283b;
    font-weight: lighter;
    font-size: 0.9em;
}

#interactive-jsexample li h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 1.3em;
    color: rgb(131, 205, 255);
}

#interactive-jsexample output
{
font-size: 0.7em;
}
#interactive-jsexample label
{
font-size: 0.9em;
}

#interactive-jsexample canvas{
    margin: 0 1em 1em 1em;
    border: 4px solid black;
    width: 90%;
}

#interactive-jsexample h3, #interactive-jsexample ul{
    padding: 0;
}
#interactive-jsexample ul
{
    margin-bottom: 0;
}
#interactive-jsexample ul li 
{
    list-style: none; /* removes the bullets! */
    padding: 0.5em;
}






/* git slideshow */

#git-repo-slideshow {
    background-color: rgb(5, 26, 56);
    border-top: 1px solid rgb(32, 69, 124);
    border-bottom: 1px solid rgb(32, 69, 124);
    text-align: center;
    margin: 5em 0 5em 0;
    position: relative;
    height: 27em;
}

#git-repo-slideshow h3{
font-size: 1.4em;
}

.slideshow-buttons-box {
    display: inline-block;
    margin-bottom: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 50em;
    z-index: 1;
    
}

.slideshow-buttons-box button{
    margin: 0 9em;
    background-color: #04234b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 0.8em;
}


.slideshow-box {
    display: flex;
    align-items: center;
    
    position: absolute;
    top: 6em;
    height: 20em;
    width: 2000px;
}

.slideshow-box figure{
    padding: 2.4em;
    margin: 0;
}
 
.slideshow-box figcaption{
    font-size: 0.4em;
    margin-top: 0.6em;
}
.slideshow-box figure.active figcaption{
    font-size: 1em;
}

/* slides opacty */
.slideshow-box figure{
    opacity: 0.1;
}

.slideshow-box figure.semiactive {
    opacity: 0.5;
}
.slideshow-box figure.active {
    opacity: 1;
}

/* slides size */
.slideshow-box figure img{
    transition: 0.1s;
    border-radius: 5px;
    }

.slideshow-box figure.active img{
width: 20rem;
border: 1px solid white;
}

.slideshow-box  figure.semiactive img{
    width: 10rem;
}




/*----------- LEFT GRID --------------*/
/* Current left grids: 
    - GRAPHICS
    - 
*/

/* left grid */
.left-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 4%;
    grid-gap: 2em;
}

.left-grid div:nth-child(1){ /*Aside*/
    margin-top: -1em;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

.left-grid div:nth-child(11){ /*For more information*/
    display: none;
}

.left-grid div:nth-child(11) p{
    padding: 1em;
}

/* section graphics background */
#sect-graphics-background 
{
    background-image: linear-gradient(205deg, var(--background-color) 18.8%, #772049 calc(18.8% + 2px),rgb(179, 59, 133) 25%, var(--background-color) 55%);
    width: var(--max-body-width);
    height: 2900px;
    position:absolute;
    left: 0;
    top: 0;
}

#section-graphics {
    position: relative;
    width: 100%;
    overflow: hidden;
}





/*----------- FOOTER --------------*/
footer {
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

hr {
    border: 1px solid rgba(211, 211, 211, 0.418);
}

.foot-logo-box {
    display: block;
    padding: 1.5em;
}

.foot-info-box {
    padding: 1em;
    padding-bottom: 1.6em;
}
